html, body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.board-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  position: relative;
}

#alert-message {
  width: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  top: -20px;
  margin: 0 auto;
  background-color: black;
  color: white;
  padding: 0 10px;
  border-radius: 5px;
  display: none;
}

.word-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 4px;
}

.letter {
  width: 50px;
  height: 50px;
  border: 2px solid #D3D6DA;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

.letter.correct-place {
  background-color: #6AAA64;
  color: white;
  border: 2px solid #6AAA64;
}

.letter.incorrect-place {
  background-color: #C9B458;
  color: white;
  border: 2px solid #C9B458;
}

.letter.not-available {
  background-color: #787C7E;
  color: white;
  border: 2px solid #787C7E;
}

.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.keyboard-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.keyboard-letter {
  height: 60px;
  width: 40px;
  background-color: #D3D6DA;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.keyboard-letter.selected {
  background-color: #787C7E;
}

.keyboard-letter.includes {
  background-color: #6AAA64;
}

.keyboard-letter.function {
  width: 65px;
}

.restart-button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #787C7E;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.game-over-text {
  margin-bottom: 0px;
}

.settings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  width: 350px;
  margin: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #787C7E;
}

.form-container > h2 {
  margin-top: 0px;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.input-label {
  width: 150px;
}

select {
  width: 150px;
  height: 30px;
  background-color: #787C7E;
  border: none;
  border-radius: 3px;
}

.start-button {
  background-color: #6AAA64;
  width: 265px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
}